@font-face {
  font-family: "MuseoSans";
  src: url(../public/fonts/museo-sans/MuseoSans-100.otf) format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url(../public/fonts/museo-sans/MuseoSans-100Italic.otf)
    format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "MuseoSans";
  src: url(../public/fonts/museo-sans/MuseoSans-300.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url(../public/fonts/museo-sans/MuseoSans-300Italic.otf)
    format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "MuseoSans";
  src: url(../public/fonts/museo-sans/MuseoSans_500.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url(../public/fonts/museo-sans/MuseoSans_500_Italic.otf)
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "MuseoSans";
  src: url(../public/fonts/museo-sans/MuseoSans_700.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url(../public/fonts/museo-sans/MuseoSans-700Italic.otf)
    format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "MuseoSans";
  src: url(../public/fonts/museo-sans/MuseoSans_900.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url(../public/fonts/museo-sans/MuseoSans-900Italic.otf) format("opentype");
  font-weight: 900;
  font-style: italic;
}

.App {
  font-family: "MuseoSans";
  min-height: 100vh;
  background-color: #fafafa;
  color: #384045;
  padding: 15px 0;
}

.App-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 1rem;
  margin: 0px 10px 10px 10px;
}

.App-logo {
  grid-column: 2 / 3;
  justify-self: center;
}

.user-info {
  justify-self: end;
}
.user-info p {
  display: inline-block;
  margin-right: 1rem;
}
@media (max-width: 800px) {
  .App-header {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .App-logo {
    grid-column: 1;
    grid-row: 2;
  }

  .user-info {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
  }
}

.container {
  max-width: 500px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 2px 14px rgba(0, 0, 0, 0.06);
}
button {
  background: #98ca02;
  color: white;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  padding: 9px 12px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
button#generate-btn {
  margin-left: auto;
}
.action {
  padding: 20px 15px;
  background-color: #f4f4f4;
  padding: 12px 18px;
  display: flex;
}

.input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#vehicle-number,
.period {
  width: 70%;
  min-width: 80px;
  height: min-content;
}

.wrapper {
  padding: 2rem;
}
.wrapper h1 {
  margin-top: 0;
}
.date {
  display: flex;
  flex-direction: column;
  width: 49%;
}
.period {
  display: flex;
  justify-content: space-between;
}
.wrapper .input:nth-child(2) {
  margin-bottom: 1rem;
}
.date input {
  width: -webkit-fill-available;
}
.input-label {
  width: 30%;
  min-width: 70px;
}
.required::after {
  content: "*";
  color: #ff4141;
  font-size: 20px;
}
.error-modal {
  margin-left: 5px;
  background: #ae0000;
  color: white;
  border-radius: 5px;
  transition: height 0.5s ease-in-out, top 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.invisible {
  top: -50px;
  transition: height 0.5s ease-in-out, top 0.5s ease-in-out;
}
.details {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.measurement {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4px 7px;
  min-width: 130px;
}
.measurement:not(:last-child) {
  border-right: 1px solid #d8d8d8;
}
span.text-muted {
  font-size: 12px;
  text-align: center;
  color: #797f82;
}
span.text-main {
  font-size: 20px;
  font-weight: 300;
  color: #384045;
}

/* LOGIN & REGISTER */

@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}

.flip-container {
  display: flex;
  justify-content: center;
}

.flip-container.flip .flipper .front {
  transform: rotateY(180deg);
}

.flip-container.flip .flipper .back {
  transform: rotateY(0deg);
}
.flipper {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  margin: 10px;
}

.front,
.back {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(
    180deg
  );
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23BBBEC0' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  color: inherit;
  font-family: inherit;
  border: 1px solid #dcdee0;
  border-radius: 2px;
  padding: 5px 10px;
}
input {
  color: inherit;
  font-family: inherit;
  border: 1px solid #dcdee0;
  border-radius: 2px;
  padding: 5px 10px !important;
}
.react-datepicker__input-container .react-datepicker__calendar-icon {
  padding: 0 !important;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 24px;
  pointer-events: none; /* click through */
}

@media only screen and (max-width: 440px) {
  .date {
    width: 100%;
  }
  .period {
    flex-direction: column;
  }
  #vehicle-number,
  .period {
    width: 100%;
  }
}